[package]
name = "rusty-ponyo"
version = "0.5.1"
authors = ["kawaemon <34652535+kawaemon@users.noreply.github.com>"]
edition = "2018"

[features]
discord_client = ["serenity"]
console_client = []

mongo_db = ["mongodb"]
memory_db = []

dev = ["memory_db", "console_client"]
prod = ["mongo_db", "discord_client"]

default = ["prod"]


[dependencies]
anyhow = "1"
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = "0.5"
dotenv = "0.15"
hashbrown = { version = "0.11", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
once_cell = "1"
parking_lot = "0.11"
rand = "0.8"
sequoia-openpgp = "1"
serde_json = "1"
tokio-stream = "0.1"
tracing = "0.1"
tracing-subscriber = "0.2"

[dependencies.serenity]
version = "0.10"
optional = true
default-features = false
features = ["rustls_backend", "client", "gateway", "model", "cache"]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["rustls-tls"]

[dependencies.tokio]
version = "1"
features = ["rt-multi-thread", "parking_lot", "fs"]

[dependencies.mongodb]
version = "2"
features = ["bson-chrono-0_4"]
optional = true
