name: build

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - uses: actions-rs/toolchain@v1
              with:
                  toolchain: nightly
                  components: clippy
                  override: true

            - uses: Swatinem/rust-cache@v2

            - name: install deps
              run: sudo apt update && sudo apt install clang llvm pkg-config nettle-dev

            - uses: actions-rs/clippy-check@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  args: --no-default-features --features dev

            - uses: actions-rs/clippy-check@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  args: --no-default-features --features prod

            - name: dev test
              run: cargo test --no-default-features --features dev

            - name: prod test
              run: cargo test --no-default-features --features prod
